In [1]:
b=["banana", "apple" , "microsoft"]
print(b)

['banana', 'apple', 'microsoft']

In [2]:
temp=b[0]
b[0]=b[2]
b[2]=temp
print(b)

['microsoft', 'apple', 'banana']

In [4]:
 b[0] , b[2] = b[2] , b[0]
print(b)

['banana', 'apple', 'microsoft']

In [15]:
a = (list(range(90,100)))

In [17]:
for i in range(1,100): #syntax for  "for loop"
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [18]:
given_list=[range(1,20)]
print(given_list)

[range(1, 20)]

In [1]:
print(list(range(1,20)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
total=0
for i in range(1,100):
    total += i
print(total)

4950

In [5]:
total2 =0
j=0
while j< 5:
    total2 +=j
    j +=1
print(total2)

10